<%= simple_form_for(@user, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <div class="modal-content">
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
