<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>
            <h1>RENDORED new.html.erb</h1>
            <%#= yield :title if content_for? :title %>&nbsp;
        </h4>
        <p>
            <%#= yield %>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<%#= render 'form', user: @user %>

<div class="modal-header">
  <h5 class="modal-title">New message fucker</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= render 'form', user: @user %>

<!--
<div class="modal-header">
  <h5 class="modal-title">New message fucker</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
-->

