<div class="mdl-grid demo-content">
    <div class="demo-logo mdl-color--black mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <%= image_tag 'main-logo.png', class: 'dashboard-logo' %>
    </div>

    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">

        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__title mdl-card--expand" style='background-color: #fdb52c'>
                <h2 class="mdl-card__title-text">Updates</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Any critical updates you have for the studends.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
            </div>
        </div>
    </div>
    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__title mdl-card--expand mdl-color--light-green-A400">
                <h2 class="mdl-card__title-text">Message</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Something else here for student quick reference, maybe new messages?
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
            </div>
        </div>
    </div>
    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
        <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                <h3>Student Todos?</h3>
                <ul>
                    <li>
                        <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Student Todo's ONE</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Student Todo's</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Student Todo's</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Student Todo's</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox5" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox5" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Student Todo's</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox6" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox6" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Student Todo's</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox7" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox7" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Student Todo's</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox8" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox8" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Student Todo's</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox9" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox9" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Student Todo's</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="demo-cards mdl-cell mdl-cell--6-col mdl-cell--y-col-tablet mdl-grid mdl-grid--no-spacing hoverable">
        <div class="facebook-feed mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__title mdl-card--expand mdl-color--indigo-A700">
                <h2 class="mdl-card__title-text">facebook Feed</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                The last post posted on facebook. When clicked this will take the
                user to facebook.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
            </div>
        </div>
    </div>
    <div class="demo-cards mdl-cell mdl-cell--6-col mdl-cell--y-col-tablet mdl-grid mdl-grid--no-spacing hoverable">
        <div class="instagram-feed mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__title mdl-card--expand" style='background-color: #1cb0c0'>
                <h2 class="mdl-card__title-text">Instagram Feed</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                The last post posted on Instagram. When clicked this will take the
                user to Instagram.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
            </div>
        </div>
    </div>


</div>
