<!-- TODO need to look at if this is centered on small devices, my guess would be need -->
<div class="container">
    <div class="row">
        <% @resources.each do |key| %>
            <% key.each_key do |sub_key| %>
                <div class="col m4 s12">
                    <h5><%= sub_key %></h5>
                    <ul>
                        <% key[sub_key].each do |resource| %>
                            <li>Source: <%= resource[:source] %></li>
                            <li>Link: <%= link_to 'Resource Link', resource[:link], target: '_blank' %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
