@media screen and (min-width: 0px) and (max-width: 400px) {
  .view-graymatter-button { display: none; }  /* show it on small screens */
}

.dashboard-logo {
  margin: auto;
  width: 50%;
  height: 100%;
}

.style-iszgeige {
  border-bottom: 6px solid rgba(0, 176, 193, 1);
  height: 0 !important;
  min-height: 0 !important;
}

.page-footer {
  width: 100%;
  background-color: #7B7B7B !important;
}

.footer-container {
  background-color: #7B7B7B;
}

.social-img {
  width: 38px;
  height: 38px;
  padding: 10px;
  object-fit: cover;
}

.task-card-title-custom {
  margin: 0 !important;
}

.update-item {
  width: 100%;
  border-bottom: 1px solid #7B7B7B;
  display: inline-block;
}

.custom-link {
  color: green !important;
}

.main-page-social-media {
  width: 100%;
}