// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-wrapper {
  text-align: center;
  background-color: gray;
  padding-bottom: 500px;
  padding-top: 10%;
}

.login-form {
  margin-top: 5%;
  display: inline-block;
  padding: 33px;
}

.login-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 40%;
}

.login-center-text {
  text-align: center;
}

.login-button {
  margin-top: 10px;
}