// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login_wrapper {
  text-align: center;
}
.login_form {
  margin-top: 5%;
  display: inline-block;
}

.login_header {
  margin-top: 10%;
  text-align: center; 
}