.student-profile-card-container {
  height: 570px;
}
.card-title-custom {
  bottom: 25px !important;
}

.card .card-image .profile-img {
  object-fit: cover;
  height: 350px;
}

.profile-img-default {
  background-color: #000
}

.sm-btn-fab {
  bottom: 20px;
}

.pl {
  margin-right: 20px !important;
}

.margin-top {
  margin-top: 25px;
}
